@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  color: black;
  font-family: "Pretendard-Regular";
}

.bucket {
  width: 160px;
  height: 160px;
  background-size: cover;
  background-position: center;
}

.msg {
  margin: -5px 0 15px;
  color: black;
}
